<!DOCTYPE html>
<html>
  <head>
    <nav>
      <ul>
        <li><%= link_to "Welcome", "/welcome" %></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Portfolio", "/portfolio" %></li>
      </ul>
    </nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header>
      <title>Portfolio</title>
      <h1>Hannah Bergam</h1>
    </header>
      <%= yield %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  <footer>
    <a href="https://www.linkedin.com/in/hannah-bergam-92899160/"> <img src="https://lh3.googleusercontent.com/pw/ABLVV844Ju-imLLZMqkIWCDm8be_Cd-jByxOSUN-6AZ1oRDdVszw3M2VXU_c6ZNv8TZtMQeJxYVABw3mzNhyrB-I08ZgK2VnvEm4RsBMLfb2Y6E0SXY7wwhLSaW1bapXh43bINT15xsBDue0iC8ci0GAOFQOfN2tE_KK7G1_pROM2L_tj--aI1j9MN-3xDyaTeBdOFUGgGp-Q9_gilfl0XKq0EXqXDYu9VCgas-g9M64CJZtAjMt6tX0UKdWoEBnJCSxBunKqXheQtYCY8EngvNIckDVKrJwih641_tS_H6GMPzl9_ZAZtyiX665RVv5QauwPDDuavdkm_2_TwyDTyAjoNsaXZyLNt40aEU0kFirc-8dvD83wXOiPOUEilh6uRa1mV_BSWm5bAWEBG7P7bkQGjo4g3beEmPp0scgJM4frLKYo-BAA9OJoXLNtV4NzAlqbHR4rD2tE2-vwB1TVdt0bNWyUNhvucbhGqv4Jk3qIWZgIri2Usyjrb_uOqVBPAVCUCHKMBSGuu1GMfzWmvcN-LW_HwxsP3X6b4gCCTzVWu4t3k0l7kc5MNmeLaiwSAJlK9NYr5eXSTlk-j5Fuh-ZlefSaTp9g4ivXjmZDkmyH-Aih9rtA-Sb_xC8r0Q_n-inWa4iTSHgdI3XlbtBXRr13TRKSMI07Qqpk92lBZzdKQPNwp8fHJU8ow_3ap0N6n-CcOgmyVUK3Kn08u_fL8ICB0MJ0yeDrqC6yMFV8qckfrN0VRMAupJ50r3YXlXqmFSDJl7Vgtd8eF8QcFZAcJGiA1WUjDdP6aUhsxlurdXfYb2qq54XfYPnBJPYxUVD5hDde-RCCn1-pr6vnmzDSiNBuw-CUodtuNkCxQm2pfnKEQmHBQcvk0qqww_hscb5DUH5OySXAQ=w512-h512-s-no-gm?authuser=0" width="50" height="50"></a>
    <a href="https://github.com/hannahbergam"> <img src="https://lh3.googleusercontent.com/pw/ABLVV85UPA7KmhiPdYtKy_fp0JT-7LcVLWrq-Nftc_aP6FbLnaaMwN-x-IzZvJ4n39FivY4Be7eUvt09wG7GKt34u0tqsU-9c23Fk3qOjRJV7wQ-WoWZZbdlgZ1V6w8EbuuYYRrW0rFEueQFWkGS1jAJixeiy5dZQevIuRgPgcdNi9pVXyDV4HFj8aL0tenMGWTe2ypPghdNTAv1bj9LL5t1sNTHIamln2HgsF74B_Ip3mcNRSPloTUIij00qNEX-4PvQ12wJp4Z6sUiXtkVrvKtDd2HuHP05WhuK3P2YzyPNWAHtC0WNILhDMrl3uKEGr7bJGAlQGyCoNAwfhELuGUlV7S6Z3VQk1MHdyX5HmGPH4tWWqEqxGIWnCe8iPHJxRxyQxwI-E6z-9fEdfgOc2svqMELadeF0pltpCpg2hhkRh8HyDUrH8lRMZABs1ZPHOjj6kjan84n3-81-hGSjmfQ-AUyrc9z9KbrPiLzcdc85myOFKZvRNVdo3foQ7lBQtues-LVC4eMzTvumyLE_5FVtfhsrTu-Wt-NmMUGCaVhxGXpoS7njmevVt_2SjyfNidr84XpK00uTYtagqe8JLu6GZqwqTZaSX7R97xYHCbfQuMr__SXn5ik9otcfFgrnscDIYP68vWu8bdckYohrQQLaQOyVmo4N7WHwZU4gI5BZm-urSoqyjWbEBz1AU6y7EX81CxoDllMwYmhjbnL9zOi8tEM2UZkuwDIbL3BNU0-lwQ4RF7miWrnabqPZjfhhsYdtzLs0Gnza2nETRG4e0IRvtrVtNtlTsaKTdIWhWWSNddE946sOVofr4NQi8PVEtnN9_fkZlJ0u5gPqrFW_VlVOSex7HRY9MJ-H_bKpBM6xIsaBofsZRxKu8z1LVTTsu90YrcAQg=w240-h240-s-no-gm?authuser=0" width="50" height="50"></a>
  </footer>
</html>
